body, html {padding:0px; margin: 0px;}
h1, h2, h3, h4, h5, h6{
  padding: 0px; 
  margin: 0px; 
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
}
section:nth-child(1) {background-color: #003049;}
section:nth-child(2) {background-color: #eae2b7;}
section:nth-child(3) {background-color: #1f639c;}
section:nth-child(4) {background-color: #a1cba2;}
section:nth-child(5) {background-color: #4a7854;}

.container {
  width: 1170px;
  margin: auto;
  display: flex;
  grid-gap: 30px;
}
.box {
  background: #03c6cf;
  padding: 20px;
}
.box h3 {
  text-align: center;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}
.box p {
  color: #252525;
  font-size: 14px;
}
.heading_1 {
  color: #dfdfdf;
}
