/* add css module styles here (optional) */

.scrollFade {
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -moz-transform: translateY(100px);
  opacity: 0;
  transition: 1s;
}

.scrollFade.active {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -moz-transform: translateY(0px);
  opacity: 1;
}